@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Brandon+Text:wght@10;400;700&display=swap');

body {
  font-family: 'Brandon Text', sans-serif;
}

/* @font-face {
  font-family: "brandontext-regular";
  src: url("https://fonts.googleapis.com/css2?family=FontName:wght@200;400;700&display=swap") format("woff2");
  font-weight: 200;
  font-style: light;
} */


/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
